<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/avator" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="avator">
    <button>提交2</button>
</form>
</body>
</html>
